.theme-dark {
  --color-sidebar-background-default: #202127;
  --color-sidebar-background-hover: #2d2e34;
  --color-sidebar-background-active: #393a3f;
  --color-text-default: #f0f2ff;
  --color-text-hover: #f0f2ff;
  --color-text-active: #f0f2ff;
  --color-text-logo: #ffffff;
  --color-button-background-default: #202127;
  --color-button-background-hover: #4b5966;
  --color-button-background-active: #040469;

  --opened-bg-hovered-text: #1919ba;

  --arrow-color-opened: #fff;
  --arrow-color-closed: #fff;
  --arrow-color-bg-closed: #2c455d;
  --arrow-color-bg-opened: #000;
}

.theme-light {
  --color-sidebar-background-default: #fff;
  --color-sidebar-background-hover: #f0f2ff;
  --color-sidebar-background-active: #f0f2ff;
  --color-text-default: #97a5b9;
  --color-text-hover: #091b31;
  --color-text-active: #0000b5;
  --color-text-logo: #0000b5;
  --color-logo: #ff8b0a;
  --color-button-background-default: #fff;
  --color-button-background-hover: #e2e8f0;
  --color-button-background-active: #e2e8f0;

  --opened-bg-hovered-text: #111185;

  --arrow-color-opened: #272b30;
  --arrow-color-closed: #272b30;
  --arrow-color-bg-closed: #cdcdcd;
  --arrow-color-bg-opened: #fff;
}

// :root,
// .theme-dark,
// .theme-light {
//   transition: 
//     background-color 0.3s ease,
//     color 0.3s ease,
//     border-color 0.3s ease;
// }


* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: #e2e8f0;
  color: rgba(255, 255, 255, 0.87);
}

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 240px;
  width: 100%;
  height: calc(100dvh - 140px);
  margin: 50px auto;
  padding: 20px;
  background: var(--color-sidebar-background-default);
  border-radius: 15px;
  box-shadow: 0px 0px 5px #bfbfbf;
  overflow: hidden;

  transition:background .7s ease-in-out,padding 0.3s linear, max-width 0.3s linear;
}

.logo-head {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  max-width: 40px;
  object-fit: cover;
  margin-right: 5px;
}

.logo__descr {
  font-size: 20px;
  line-height: 1.3;
  font-weight: 600;
  color: var(--color-logo);
  transition: color 0.4s ease-in-out;
}

.sidebar.opened .logo__descr {
  opacity: 0;
  width: 0;
}

.arr-size {
  position: absolute;
  right: -6px;
  top: 33px;
  width: 20px;
  height: 20px;

  margin-left: auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--arrow-color-bg-closed);

  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, right 0.3s, top 0.3s;

  svg {
    color: var(--arrow-color-closed);
    transition: color 0.3s;
  }
}

.sidebar.opened .arr-size {
  right: -35px;
  top: 20px;
  background-color: var(--arrow-color-bg-opened);

  svg {
    color: var(--arrow-color-opened);
  }
}

.sidebar.opened {
  max-width: 40px;
  overflow: visible;
}

.side-list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 18px;
}

.side-list__sec {
  margin-top: auto;
  gap: 12px;
}

.side-list__item {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 220px;
  width: 100%;
  gap: 18px;
  padding: 5px 10px;
  border-radius: 10px;
  border: transparent;
  background: transparent;

  cursor: pointer;

  transition: background 0.4s ease-in-out;
}

.sidebar.opened .side-list__item {
  width: max-content;
  gap: 0;
}

.side-list__icon {
  max-width: 20px;
  height: 20px;
  object-fit: cover;
  color: var(--color-text-default);
  transition: color 0.5s ease-in-out;
}

.side-list__text {
  position: relative;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 500;
  color: var(--color-text-default);
  transition: color 0.5s ease-in-out;
}

.sidebar.opened .side-list__text {
  display: none;
}

.side-list__item:hover {
  background: var(--color-button-background-hover);

  .side-list__text {
    color: var(--color-text-hover);
  }
  .side-list__icon {
    color: var(--color-text-hover);
  }
}

.side-list__item:active {
  background: var(--color-button-background-active);

  .side-list__text {
    color: var(--color-text-active);
  }
  .side-list__icon {
    color: var(--color-text-logo);
  }
}

.sidebar.opened .side-list__item:hover {
  .side-list__text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    right: 0;
    width: max-content;
    left: 40px;
    font-size: 18px;
    background: var(--opened-bg-hovered-text);
    color: #e2e8f0;
    padding: 3px 5px;
    border-radius: 10px;
  }
}

.theme-btn {
  margin-top: 20px;
  padding-top: 5px;
  border-top: 2px solid var(--arrow-color-bg-closed);
  transition: border-top 0.5s ease, background .2s ease-in-out;
}

.theme-btn:active,
.theme-btn:focus {
background: transparent;
}
